.profil {
	height: 60px;
    padding: 0;
    background: #ececec;
}

.photo, .nom, .promo, .nbvideos {
	height: 100%;
	float: left;
    position: relative;
    padding: 10px 30px;
    left: -10px;
    text-align: center;
}

.photo{
	width: 250px;
	padding: 0;
}

.promo{
	background: grey;
	color:white;
}

.nbvideos {
	background: #ececec;
}

#photobande {
    background: url("../img/photo.jpg") 0 -80px/260px no-repeat;
    height: 100%;
    width: 140%;

}

.nom h1 {
    height: 30px;
    overflow: hidden;
}