* {
	color:black;
	}

@font-face {
    font-family: "montserrat";
    src: url("../font/montserrat.otf") format("truetype");
}

@font-face {
    font-family: "rounded";
    src: url("../font/rounded.ttf") format("truetype");
}

p {
	font-family: "rounded";
	margin:0;
}

h1 {
	font-family: "montserrat";
	text-transform: uppercase;
	font-size:15px;
	margin: 7px 0;
		line-height: 30px;
}


span{
	color:#7ee4d7;
	margin:0 10px 0 0;
}

.main {
	margin-top: 50px;
	margin-bottom: 50px;
}

.noborder{
	border-radius: 0 !important;
	-webkit-appearance: none;
}

#photoprofil {
	border-radius:50%;
	height: 30px;
    width: 30px;
    background: url("../img/photo.jpg") 0 0/30px 30px no-repeat;
}

#photoplus {
	height: 30px;
    width: 55px;
    float:left;
    background: url("../img/icon/plus.png") 0 0/55px 30px no-repeat;
}

.oblikd{
	  transform: skew(-15deg);
}

.oblikd > *{
	  transform: skew(15deg);
}

.bgvert{ /* color blanc et background vert */
	background-color: #7ee4d7;
	color:white;
}

.bggris{ /* color blanc et background gris */
	background-color: #313131;
	color:white;
}


.sousmenu .onglet1 {
	border-right: 2px solid white;
}

.sousmenu {
	position: absolute;
    width: 100%;
}

.sousmenu .nav li{
	padding:0;
	margin:0;
	background-color: #eee;
}

.sousmenu li.active a, .sousmenu li:focus a, .sousmenu li:hover a{
    background-color: #7ee4d7;
}

.panel-group{
	padding: 0 30px;
}

.alert{
	margin-top: 0px;
    border-radius: 0px;
    margin: 15px;
    -webkit-transition: all 2s linear;
    text-align:center;
}

.alert p {
	color:white;
}
