


.tab-content .container {
	padding: 0 2%;
}


.form-control:focus {
    border-color: #7ee4d7;
    box-shadow:none;
}


#inputdes{
height: 300px;
}	

.form-group {
	margin-bottom: 30px;
}

textarea{
	resize:none;
}

button{
	background-color: #313131 !important;
	color: white !important;
	width: 100%;
	border:0 !important;
	display:inline !important;
	    position: relative;
    overflow: hidden;
}

button h1 {
	position: relative;
    text-align: left;
}

iframe{
	display: block;
	background-color: lightgrey;
}

.hover-bg {
  display: block;
  background-color: #7ee4d7;
  width: 120%;
  height: 100%;
  position: absolute;
  right: -105%;
  top: 0;
  overflow: hidden;
  transition: right 1s;
}

button:hover .hover-bg{
	right: -10%;
	transition: right 1s;
}

button img{
	height: 30px;
    width: 30px;
    position: absolute;
    margin: 7px;
    right: 5%;
}

.apercu {
  height: calc(100vh - 120px) !important;
}
