{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "MMITVBundle::layout.html.twig" %}

{% block title %}
    Ajouter une vidéo - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Ajouter une vidéo</h2>

   <p>Ici se trouvera le formulaire</p>

    <p>
        Prenez garde à remplir tous les champs requis. Une annonce complète est plus lue.
    </p>

    <p>
        <a href="{{ path('mmi_tv_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'accueil
        </a>
    </p>
{% endblock %}