{% extends '::layout.html.twig' %}

{% block body %}
    <h1>{{ hours[slot]}} - {{ bloc.category }}</h1>



    <ul>
        <li>
            <a href="{{ path('mmitv_home') }}">retour à la grille de programmation</a>
        </li>
    </ul>
{% endblock %}
